*.pyc
config/trainer
.cache
a.out
data/cpp/schedules/
data/cpp/setup/
log/*.csv
log/*.out
log/*.zip
log/**/*.out
log/**/*.csv
log/videos
*.orig
*.lprof
*.prof
notebooks/.ipynb_checkpoints
*.swp
*.bak
*.pkl
data/cpp/**/*.v*
test/tmp
tmp/
.pytest_cache
.gdb_history
*~master